.headerHead {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 20px 10px 20px;
  z-index: 50;
  backdrop-filter: blur(5px);
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 200px;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

/* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8357eb;
  width: 100vw;
  height: 100vh;
} */

.navbar-logo {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #ef9b60;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 2rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 3px 3px 3px #07bccc, 3px 3px 0px #e601c0, 4px 4px 4px #e9019a,
    4.5px 4.5px 0px #f40468, 8.5px 8.5px 4px #482896;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-logo:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}
/* .navbar-brand {
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
    0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff,
      0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
} */

@keyframes adjust-header {
  to {
    background: rgba(245, 178, 227, 0.3);
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    background: rgba(245, 178, 227, 0.3) !important;
    background: rgba(245, 178, 227, 0.3) !important;
    backdrop-filter: blur(8px);
  }
}

/* @media (max-width: 767px) {
  .cid-uAXdB7nz4s .headerHead {
    min-height: 72px;
  }
} */
.navbar-light .navbar-nav .nav-link {
  color: rgba(67, 2, 2, 0.55);
}
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,600,700");
.nav-link {
  font-family: "Cormorant Garamond", serif;
  /* font-family: "Meta", sans-serif; */
  font-size: 24px;
  font-style: normal;
  line-height: 14px;
  background: none;
  outline: none;
  /* margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite; */
}
.nav-link:hover {
  animation: shaking-button 0.5s ease-in-out;
  color: #106ccd;
}
/* @keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}*/
@keyframes shaking-button {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8%);
  }
  40% {
    transform: translateY(-3%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(-3%);
  }
}

/* .nav-link:focus {
  color: #a21d6f;
} */
.logoImg {
  width: 200px;
  height: 50px;
}

/* .headerHead {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
} */
