/* .form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
    width: 100%;
    min-width: 0;
  }
} */
/*  */
form > * {
  display: block;
  margin: 5px auto;
}
input[type="text"],
input[type="e-mail"],
input[type="password"],
input[type="email"] {
  width: 200px;
  outline: 0;
  border: 0px solid;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  color: black;
  transition: 0.25s;
}
input[type="text"]:focus,
input[type="e-mail"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  width: 310px;
}

.submit {
  width: 100px;
  outline: 0;
  border: 0px solid;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  color: black;
  transition: 0.25s;
  cursor: pointer;
  background: #5166c0;
}
.submit:hover {
  background: #2ecc71;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.wrapper > * {
  text-align: center;
}

.main {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 100vh;
  /* background:#34495e; */
}
/* .login {
  float: left;
  width: 50%;
  min-height: 100vh;
  background: url("https://unsplash.com/photos/nvFpb_MMRj8/download?force=true")
    no-repeat;
  background-size: cover;
} */
.register {
  /* float: right;
  width: 50%; */
  width: 100%;
  min-height: 100vh;
  /* background: url("https://r.mobirisesite.com/789666/assets/images/photo-1550206574-42cfa61e2a9d.jpeg")
    no-repeat; */
  background: url("https://r.mobirisesite.com/1136395/assets/images/photo-1587300003388-59208cc962cb.jpeg")
    no-repeat;
  /* background: url("https://unsplash.com/photos/keqdnDale3M/download?force=true")
    no-repeat; */
  background-size: cover;
  border-radius: 20px;
}

.register {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /* align-items: center; */
  align-items: left;
  padding-left: 2rem;
  /* margin-left: 10rem; */
}

.register form {
  background-color: #2c3e50;
  width: 350px;
  /* padding: 20px; */
  min-height: 250px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
  align-items: left;
  /* padding-left: 2rem; */
  transition: 0.26s;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.register,
.register form:hover {
  background-color: #2c3e50a3;
}
h1 {
  font-family: "Montserrat;";
  font-weight: 900;
  color: white;
}

h1 span {
  color: orange;
}

@media all and (max-width: 800px) {
  .wrapper {
    flex-flow: column;
  }
  .main {
    flex-flow: column;
  }
  .login,
  .register {
    width: 100%;
  }
}
