/* div .footer-text {
  margin-left: 50px;
}
div .footer-text p {
  margin-bottom: 0.5em;
  color: rgb(224, 131, 131);
}
div .footer-text h5 {
  margin-top: 1em;
}
div .footer-text a:hover {
  color: rgb(187, 53, 53);
  font-weight: 800;
}
a {
  color: rgb(214, 214, 214);
}
a .title1::before {
  color: rgb(82, 146, 146);
} */

/* .bg-dark {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://r.mobirisesite.com/1136395/assets/images/photo-1568393691622-c7ba131d63b4.jpeg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 647px;
  height: 679px;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
  margin-top: 0px;
  transform: translate3d(0px, -23.0437px, 0px);

  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
} */
.footer {
  margin-top: 20px;
}
.bg-dark {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://r.mobirisesite.com/1136395/assets/images/photo-1568393691622-c7ba131d63b4.jpeg);
}
.text-muted {
  --bs-text-opacity: 1;
  color: #25a8d1 !important;
  font-size: bold;
}
