.app-component,
.app-component .app-component-content,
.app-component .app-component-content footer,
.note-mbrStyle ul.dropdown-menu li {
  position: relative;
  margin-top: 0px;
}
.how-to-buy {
  display: flex;
  gap: 24px;
  /* max-width: 1020px; */
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
.cid-uAXdB7qB8g {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: transparent;
}
.cid-uAXdB7qB8g .mbr-fallback-image.disabled {
  display: none;
}
.cid-uAXdB7qB8g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uAXdB7qB8g .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-uAXdB7qB8g .card-wrapper .itemName {
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uAXdB7qB8g .card-wrapper .itemName {
    padding: 1.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uAXdB7qB8g .card-wrapper .itemName {
    padding: 2rem;
  }
}
.cid-uAXdB7qB8g .mbr-text,
.cid-uAXdB7qB8g .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-uAXdB7qB8g .card-title,
.cid-uAXdB7qB8g .card-box {
  text-align: center;
  color: #000000;
}
b,
strong {
  font-weight: bold;
  text-align: center;
}
.dataCreate {
  text-align: right;
}

.cid-uAXdB7qB8g .card-wrapper {
  background: #f3dcdc;
  border-radius: 6px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f3dcdc;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}
.display-2 {
  font-size: calc(1.1rem + 1.1vw);
  font-weight: 300;
  line-height: 1.2;
}
.itemName {
  text-align: center;
}

/* news */
/* .cid-uE6ebW4nm5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uE6ebW4nm5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uE6ebW4nm5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uE6ebW4nm5 .item-wrapper {
  overflow: hidden;
  background: #ffffff;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uE6ebW4nm5 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uE6ebW4nm5 .text-wrapper {
  padding: 4rem 3rem 4rem 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uE6ebW4nm5 .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-uE6ebW4nm5 .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-uE6ebW4nm5 .row {
  flex-direction: row-reverse;
}
.cid-uE6ebW4nm5 .text-wrapper {
  padding: 4rem 2rem 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uE6ebW4nm5 .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-uE6ebW4nm5 .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-uE6ebW4nm5 .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-uE6ebW4nm5 .image-wrapper {
  padding: 0 1rem;
}
.cid-uE6ebW4nm5 img,
.cid-uE6ebW4nm5 .image-wrapper {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uE6ebW4nm5 img,
  .cid-uE6ebW4nm5 .image-wrapper {
    max-height: 350px;
  }
}
.cid-uE6ebW4nm5 .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-uE6ebW4nm5 .mbr-text {
  color: #000000;
}
.cid-uE6ebW4nm5 .mbr-text,
.cid-uE6ebW4nm5 .mbr-section-btn {
  text-align: left;
}
.cid-uE6ebW4nm5 .price {
  color: #232323;
  text-align: left;
}
.cid-uE6ebW4nm5 .content-head {
  max-width: 800px;
}
.cid-uE6ebW4nm5 .mbr-section-maintitle {
  text-align: center;
}
.cid-uE6ebW4nm5 .mbr-section-mainsubtitle {
  text-align: center;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.w-100 {
  width: 100% !important;
} */
